.video
{
    width: 100%;;
    position: relative;
}
.playbutton
{
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.play
{
    
    position: absolute;
    top:30%;
    left:35%;
    
}
