.blog-card-collection
{
    position: relative;
}
.slide-left
{
    position: absolute;
    
    z-index: 3;
    top: 50%;
    left: -9px;
    width: 68px;
    height: 68px;
    
}
.slide-right
{
    position: absolute;
    z-index: 3;
    top: 50%;
    right: -9px;
    width: 68px;
    height: 68px;
}